@font-face {
  font-family: "Margin";
  src: url("/fonts/Margin DEMO.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Define CSS Variables for Fonts */
:root {
  --font-sans: "Poppins", sans-serif;
  --font-margin: "Margin", sans-serif;

  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-margin);
}

@import "tailwindcss";